@{
    ViewData["Title"] = "Home Page";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Esportes">Esportes</a></li>
    <li class="breadcrumb-item"><a href="/Esportes/Futebol">Futebol</a></li>
    <li class="breadcrumb-item active">Camiseta Grêmio 2017/1</li>
</ol>